<div class="user">

  <div id="spacer"></div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h1><%= @user.name %></h1>
      <hr>
    </div>
  </div>

  <div class="col-lg-4 main-content-feature">
    
    <div class="row main-content-feature">
      <h3>Your Campaigns</h3>
      <p>This is a list of your campaigns. Click on each to view and edit its details.</p>
      <table class="table table-bordered">
        <tbody>
          <% @campaigns.each do |c| %>
          <tr>
            <td>
              <a href="/campaign/details/<%= c.id %>"><%= c.name %></a>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
    <div class="row main-content-feature">
      <h3>Profile Details</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="category">
              Name
            </td>
            <td>
              <%= @user.name %>
            </td>
          </tr>
          <tr>
            <td class="category">
              Email
            </td>
            <td>
              <%= @user.email %>
            </td>
          <tr>
            <td class="category">
              Registration Date
            </td>
            <td>
              <%= @user.created_at.strftime("%B %d, %G %I:%M%P %Z") %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="row main-content-feature">
      <h3>Account Details</h3>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td class="category account-details">
              Balance
            </td>
            <td>
              <%= @balance.format_with_settings %>
            </td>
          </tr>
          <tr>
            <td class="category account-details">
              Status
            </td>
            <td>
              <%= @user.state %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    
    <div class="row main-content-feature">
      <% if @user.state != User::STATE_REGISTERED %>
        <h3>Please confirm your account.</h3>
        <p><strong>Check your email for a confirmation message from WeCrowd.</strong></p>
        <p>Need us to resend the email?
          <%= form_tag("/user/resend_confirmation_email/#{@user.id}", :class => '') do %>
            <button class="btn btn-resend-orange">Resend</button>
          <% end %>
        </p>
      <% end %>
    </div>

  </div>

  <div class="col-sm-1"></div>

  <div class="col-lg-7 main-content-feature">
    <div class="row main-content-feature">
        <% if @update_uri %>
          <h3>Manage Your Payment Settings</h3>
          <p>Use the panel below to sign into WePay and manage your payment settings.</p>
          <p>Once you have verified your identity and added your bank account information, all money in your account will be automatically deposited into your bank account.</p>

          <div id="spacer"></div>

          <div class="wepay-iframe-container embed-responsive embed-responsive-16by9">
            <iframe class="wepay-iframe barier embed-responsive-item" src="<%= @update_uri %>"></iframe>
          </div>
        <% end %>
    </div>
  </div>
</div>

<div class="demo">
  <div class="demo title">My Campaigns</div>
  <div class="demo content">
    <p class="p-modal">This page lets fundraisers see their personal info and list of campaigns.</p>
    <p class="p-modal">Now it's time to complete setup. You should have an email from WeCrowd. (Check your spam folder, if necessary). <b>Open the email and click the confirmation link</b> to continue setup.</p>
  </div>
</div>

<% if !@mfa.nil? %>

    <div class="col-lg-5 col-sm-offset-3 main-content-feature" id = "mfa">
    <h3>MFA Devices</h3>
    <table class="table table-bordered">
        <thead>
        <tr>
        <th>Type</th>
        <th>Nickname</th>
        <th>State</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td><%=   @mfa.mfa_type    %></td>
        <td><%=   @mfa.nickname   %></td>
        <td><%=   @mfa.state   %></td>
        </tr>
        </tbody>
    </table>
    </div>
<% end%>

<script>

  document.getElementById("mfa").style.margin = "-90px -50px 400px 300px";

</script>

