<div class="campaign-details">

  <div id="spacer"></div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h1><%= @campaign.name %></h1>
      <hr>
    </div>
  </div>

  <div class="col-lg-6">
    
    <% if @user.state != User::STATE_REGISTERED %>
      <div class="row main-content-feature">
        <h3>Please confirm your account.</h3>
        <p><strong>Check your email for a confirmation message from WeCrowd.</strong></p>
        <p>Need us to resend the email?
          <%= form_tag("/user/resend_confirmation_email/#{@user.id}", :class => '') do %>
            <button class="btn btn-resend-orange">Resend</button>
          <% end %>
        </p>
      </div>
    <% end %>
    
    <div class="row main-content-feature">
      <h3>Campaign URL</h3>
      <p>The public URL for your campaign is: <strong><a href="<%= request.protocol + request.host + ':' + request.port.to_s %>/campaign/<%= @campaign.id %>"><%= request.host %>/campaign/<%= @campaign.id %></a></strong></p>
    </div>
    
    <div class="row main-content-feature">
      <h3>Payments</h3>
        <% if @payments.length > 0 %>
        <table class="table table-bordered tablesorter table-hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Date</th>
              <th>Payer Name</th>
              <th>Payer Email</th>
              <th>State</th>
              <th>Amount</th>
              <th>Fee</th>
            </tr>
          </thead>

          <tbody>
            <% @payments.each do |p| %>
              <tr>
                <td><%= p.id %></td>
                <td><%= p.created_at.strftime("%Y/%m/%d %I:%M%P %Z") %></td>
                <td><%= p.payer_name %></td>
                <td><%= p.payer_email %>
                <td><%= p.state %></td>
                <td><%= p.amount %></td>
                <td><%= p.total_fee %></td>
              </tr>
            <% end %>
          </tbody>      
        </table>
        <% else %>
          <p>No payments received yet.</p>
        <% end %>
    </div>
  </div>

  <div class="col-sm-1"></div>

  <%= form_tag("/campaign/edit/#{@campaign.id}", :class => 'col-lg-5 main-content-feature') do %>
    <div class="row">
      <h3>Edit Campaign Details</h3>

      <div id="spacer"></div>

      <div class="form-group">
        <label for="email">Campaign Name</label>
        <%= text_field_tag(:campaign_name, @campaign.name, :class => 'form-control input-lg campaign-gray', :placeholder => 'Coffee for Everyone!', :maxlength => 255) %>
      </div>

      <div class="form-group">
        <label for="email">Campaign Description</label>
        <%= text_field_tag(:campaign_description, @campaign.description, :class => 'form-control input-lg campaign-gray', :placeholder => 'Let\'s supply coffee to the overworked people.') %>
      </div>

      <div class="form-group">
        <label for="email">Donation Goal</label>
        <%= text_field_tag(:campaign_goal, @campaign.goal, :class => 'form-control input-lg campaign-gray', :placeholder => '$5,000', :maxlength => 10) %>
      </div>

      <div class="form-group">
        <label for="email">Account Type</label>

        <div class="dropdown">
          <button class="btn btn-dropdown-campaign btn-default dropdown-toggle" type="button" id="dropdown-yy" data-toggle="dropdown">
            Individual
            <span class="caret-campaign right"></span>
          </button>

          <ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-yy">
            <li role="presentation">
              <%= select_tag(:account_type, options_for_select({ "Individual" => "personal", "Business" =>"business", "Non-profit" => "nonprofit"}, @campaign.account_type), :class => 'form-control input-lg campaign-gray', :placeholder => '$5,000', :maxlength => 10) %>
            </li>
          </ul>
        </div>
      </div>

      <div id="spacer"></div>

      <div class="form-group">
        <button type="submit" class="btn btn-edit-orange">Edit</button>
      </div>
    </div>
  <% end %>

</div>