<div class="campaign-public">

  <div id="spacer"></div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h1><%= @campaign.name %></h1>
      <hr>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="row">
    	<img src="<%= asset_path @campaign.image %>" class="img-responsive" alt="">
    </div>

    <div class="row main-content-feature">
    	<h3>Lorem Ipsum</h3>

    	<p>Bacon ipsum dolor sit amet officia ex aliqua, excepteur labore in jerky laborum minim id qui pancetta shoulder. Consectetur tempor ut dolore. Leberkas officia drumstick dolore, ad chuck minim dolore sirloin short ribs kielbasa eu biltong. Nostrud aute doner beef ribs. Enim ut veniam fatback, reprehenderit prosciutto dolore bresaola velit drumstick in aliquip commodo meatloaf consectetur.</p>

			<p>Fugiat sausage commodo pork elit dolor officia meatball ribeye occaecat dolore est leberkas ullamco consectetur. Veniam jowl meatball tongue ground round, reprehenderit pastrami shankle jerky aute bacon bresaola sausage nulla. Non occaecat dolore excepteur, swine drumstick porchetta strip steak landjaeger ut eu ullamco. Mollit pork loin ut, filet mignon pork chop bacon brisket irure adipisicing culpa porchetta aute pancetta salami. Beef ribs shank sed chicken excepteur.</p>
    </div>
  </div>

  <div class="col-lg-3 col-md-offset-1 main-content-feature">
  	<table class="table table-bordered campaign-public">
	  	<tbody>
		  	<tr>
			  	<td class="sidebar">
		  			<h1 class="inline-block">
		  				$<%= @campaign.amount_donated %>
	  				</h1>
		  			<h5 class="inline-block">
		  				<%= @campaign.amount_donated.currency %>
		  			</h5>

						<div class="sidebar-progress-bar bg-gray">
							<div class="bg-blue full-height" style="width: <%= @percent_complete %>%"></div>
						</div>
						<p>
							<%= @percent_complete %>% of $<%= @campaign.goal %> goal met
						</p>

						<p>
							<a href="/campaign/donate/<%= @campaign.id %>" class="btn btn-donate-orange">Donate</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="list-wrap">
			<ul class="list-inline campaign-public">
	      <li><img src="<%= asset_path 'email_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'facebook_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'twitter_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'embed_icon.png' %>"></li>
	    </ul>
    </div>
  </div>

</div>