<div class="campaign-public">

  <div id="spacer"></div>
  
  <div class="col-lg-12 main-content-feature text-center">
    <div class="row">
      <h1><%= @campaign.name %></h1>
      <hr>
    </div>
  </div>

  <div class="col-lg-8">
    <div class="row">
    	<img src="<%= asset_path @campaign.image %>" class="img-responsive" alt="">
    </div>

    <div class="row main-content-feature">
    	<h3>Lorem Ipsum</h3>

    	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ac fermentum metus, nec euismod mauris. Proin non ipsum imperdiet, luctus mi quis, vulputate dolor. Aliquam erat volutpat. In eget turpis sit amet metus cursus pellentesque. Curabitur id sapien eget felis iaculis vehicula. Morbi porttitor nibh id metus commodo ornare. Fusce accumsan id ligula eget rutrum. Quisque tempus suscipit eleifend.</p>
    	<p>Suspendisse ornare volutpat leo vitae ornare. Donec interdum maximus ex, vitae dapibus sapien vestibulum vitae. Praesent bibendum congue lorem, eget eleifend lectus. Nam sed diam eu leo imperdiet iaculis vitae vitae velit. Aliquam orci risus, laoreet id lectus et, tincidunt semper massa. Nulla lorem orci, accumsan at sagittis vel, hendrerit nec urna. In sit amet purus vestibulum, pharetra tortor a, sollicitudin purus.</p>
    	<p>Duis est dui, pellentesque eget dui eget, consectetur luctus tellus. Etiam nec ex sit amet augue bibendum mattis et ac lorem. Sed porttitor quam ante, quis fermentum dolor pretium id. Nullam sem massa, ultricies eu massa eu, efficitur sodales leo. Maecenas venenatis iaculis tincidunt. Aliquam eget enim sagittis, cursus nunc sed, iaculis risus. Donec pellentesque rhoncus dictum. Proin laoreet risus non quam pharetra mattis. Aenean mauris leo, placerat in posuere ac, feugiat eu magna. Aliquam erat volutpat. Integer sed porta mi. Mauris ac augue justo.</p>
    </div>
  </div>

  <div class="col-lg-3 col-md-offset-1 main-content-feature">
  	<table class="table table-bordered campaign-public">
	  	<tbody>
		  	<tr>
			  	<td class="sidebar">
		  			<h1 class="inline-block">
		  				$<%= @campaign.amount_donated %>
	  				</h1>
		  			<h5 class="inline-block">
		  				<%= @campaign.amount_donated.currency %>
		  			</h5>

						<div class="sidebar-progress-bar bg-gray">
							<div class="bg-blue full-height" style="width: <%= @percent_complete %>%"></div>
						</div>
						<p>
							<%= @percent_complete %>% of $<%= @campaign.goal %> goal met
						</p>

						<p>
							<a href="/campaign/donate/<%= @campaign.id %>" class="btn btn-donate-orange">Donate</a>
						</p>
					</td>
				</tr>
			</tbody>
		</table>

		<div class="list-wrap">
			<ul class="list-inline campaign-public">
	      <li><img src="<%= asset_path 'email_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'facebook_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'twitter_icon.png' %>"></li>
	      <li><img src="<%= asset_path 'embed_icon.png' %>"></li>
	    </ul>
    </div>
  </div>

</div>

<div class="demo">
  <div class="demo title">Campaign Detail</div>
  <div class="demo content">
    <p class="p-modal">This is an example of a typical crowdfunding campaign page created using WePay Clear to power donations.</p>
    <p class="p-modal"><b>Click on the donate button</b> to see how easy it can be to pay through WePay Clear.</p>
  </div>
</div>