<div class="user">

  <div id="spacer"></div>

  <div class="row">
    <div class="col-lg-12 main-content-feature">
      <%= form_tag("/campaign/new", 'data-persist' => 'garlic', 'data-destroy' => 'false' ) do %>

      <div class="col-lg-5 main-content-feature">
        <div class="row">
          <h3 class="upper">Campaign Details</h3>
        </div>

        <div class="row main-content-feature">
          <label for="email">Campaign Name</label>
          <%= text_field_tag(:campaign_name, params[:campaign_name], :class => 'text form-control input-lg gray', :placeholder => 'Coffee for Everyone!', :maxlength => 255) %>
        </div>

        <div class="row main-content-feature">
          <label for="email">Campaign Description</label>
          <%= text_field_tag(:campaign_description, params[:campaign_description], :class => 'text form-control input-lg gray', :placeholder => 'Let\'s supply coffee to the overworked people.') %>
        </div>

        <div class="row main-content-feature">
          <label for="email">Donation Goal</label>
          <%= text_field_tag(:campaign_goal, params[:campaign_goal], :class => 'text form-control input-lg gray', :placeholder => '$5,000', :maxlength => 10) %>
        </div>

        <div class="row">
          <label for="email">Account Type</label>
          <%= select_tag(:account_type, options_for_select({ "Individual" => "personal", "Business" =>"business", "Non-profit" => "nonprofit"}, params[:account_type]), :class => 'text form-control input-lg gray') %>
        </div>
      </div>
      <div class="col-lg-5 col-sm-offset-2 main-content-feature">
        <% if !signed_in? %>

          <div class="row">
            <h3 class="upper">User Details</h3>
          </div>

          <div class="row main-content-feature">
            <label for="name">Your first and last name<b>*</b></label>
            <%= text_field_tag(:user_name, params[:name], :class => 'text form-control input-lg gray', :placeholder => 'First & Last Name', :maxlength => 255) %>
          </div>

          <div class="row main-content-feature">
            <label for="email">Your email address<b>*</b></label>
            <%= text_field_tag(:user_email, params[:email], :class => 'text form-control input-lg gray', :placeholder => 'jane.doe@gmail.com', :maxlength => 255) %>
          </div>


          <div class="row main-content-feature">
            <label for="password">Password</label>
            <%= password_field_tag(:user_password, nil, :class => 'password form-control input-lg gray', :maxlength => 255) %>
          </div>
          
          <div class="row main-content-feature">
            <label for="accept_terms"><%= check_box_tag(:accept_terms, true, true) %>
              I accept the WeCrowd <a target="_blank" href="/welcome/terms">Terms of Service</a>.
            </label>
          </div>

            <div class="row main-content-feature">
              <label for="enable_mfa"><%= check_box_tag(:enable_mfa, true, true) %>
                Enable MFA
                <a data-toggle ="modal" data-target = "#myModal">?</a>

              </label>
            </div>

            <div class = "row main-content-feature">
              <div class = "col-md-0">
                <div class = "col-md-offset-0" style = "display: inline">
                  <%= radio_button_tag(:checkout, "iFrame Checkout") %>
                  <label for = "checkout_iFrame_Checkout">iFrame Checkout</label>
                </div>
                <div class = "col-md-offset-1" style = "display: inline">
                  <%= radio_button_tag(:checkout, "Custom Checkout", :checked => true) %>
                  <label for = "checkout_Custom_Checkout">Custom Checkout</label>
                </div>
              </div>
            </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-md-3 col-center">
          <button type="submit" class="btn btn-orange">Create</button>
        </div>
      </div>

      <% end %>
    </div>
  </div>
</div>
<div class="demo">
  <div class="demo title">Sign Up / Set Up</div>
  <div class="demo content">
    <p class="p-modal"><em>Logout if needed and go to Create Campaign</em></p>

    <p class="p-modal">This is an example of a typical campaign setup page for a crowdfunding site powered by WePay Clear. Pages like this can be completely customized to the needs of the site.</p>

    <p class="p-modal">For this demo, we've pre-filled the fields with example information. Please use a real email address as you will need to confirm your email to start the experience.</p>
 
    <p class="p-modal"><b>Click Create</b> to continue the demo.</p>
  </div>
</div>


<div class="modal fade" id = "myModal" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">What is MFA?</h4>
      </div>
      <div class="modal-body">
        <p>Multi Factor Access (MFA) adds an extra layer of protection to your account if you prefer to add it. WeCrowd provides three options (SMS, Voice-call, and Google Authenticator) to choose from to send a security code to your mobile device.</p>
        <p>You can choose whether or not you would like to save your computer as a trusted computer. If you choose to trust your computer, you won't be prompted to enter in a security code for the next 30 days. </p>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script type="text/javascript">
        $("#myModal").change(function()
                {
                    $("#myModal").modal('show');

                }
        )
</script>