<!DOCTYPE html>
<html>
<head>
  <title>WeCrowd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render("shared/header.html.erb")%>


<div id="content" class="container">
	<%= render("shared/flash", { :flash => flash })%>
	<%= yield %>
</div>

</body>
</html>
