<!DOCTYPE html>
<html>
<head>
  <title>WeCrowd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="wrap">
    <%= render("shared/header.html.erb")%>

    <%= render("shared/flash", { :flash => flash })%>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <div id="push"></div>
  </div>

	<%= render("shared/footer.html.erb")%>
  
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</body>
</html>
