<!DOCTYPE html>
<html>
<head>
  <title>WeCrowd</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Roboto+Slab:400,300,700' rel='stylesheet' type='text/css'>
</head>

<body>

  <div id="wrap">
    <div class="container">
      <%= render("shared/flash", { :flash => flash })%>
    </div>

    <div id="spacer"></div>

    <%= render("shared/header.html.erb")%>
    
    <div class="container">
      <%= yield %>
    </div>
    
    <div id="push"></div>
  </div>

	<%= render("shared/footer.html.erb")%>
	<%= render("shared/analytics.html.erb")%>
</body>
</html>
